<main>
  <div class="menu-list patient-list">
    <h3>Patienten</h3>

    <mat-selection-list
      [multiple]="false"
      (selectionChange)="stateService.selectPatient($event.options[0].value)"
      aria-selected="false"
    >
      <mat-list-option
        *ngFor="let patient of stateService.patients$ | async"
        [value]="patient.id"
        [selected]="(stateService.selectedPatient$ | async)?.id === patient.id"
      >
        <mat-icon
          matListItemIcon
          class="clickable"
          (click)="stateService.removePatient(patient.id)"
        >
          delete
        </mat-icon>
        {{ patient.name }}
      </mat-list-option>
      <mat-list-item class="new-patient">
        <button mat-stroked-button (click)="addPatient()">Neuer Patient</button>
      </mat-list-item>
    </mat-selection-list>
  </div>

  <div
    class="menu-list medikation-list"
    *ngIf="stateService.selectedPatient$ | async; let patient"
  >
    <h3>
      Medikation
      <mat-icon matTooltip="Hier werden nur Wirkstoffe aus Tabelle 4 angezeigt"
        >help</mat-icon
      >
    </h3>

    <mat-form-field>
      <mat-label>Wirkstoff</mat-label>
      <input
        type="text"
        aria-label="Wirkstoff"
        matInput
        [formControl]="substrateControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [autoActiveFirstOption]="true">
        <mat-option
          *ngFor="let substrat of filteredOptions$ | async"
          [value]="substrat"
          (onSelectionChange)="
            addMedikation(patient.id, $event.source.value);
            substrateControl.setValue('')
          "
        >
          {{ substrat }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-list>
      <mat-list-item *ngFor="let medikation of patient.medikation">
        <mat-icon
          matListItemIcon
          class="clickable"
          (click)="stateService.removeMedikation(patient.id, medikation)"
        >
          delete
        </mat-icon>
        <p matListItemTitle>
          {{ medikation }}
        </p>
      </mat-list-item>
    </mat-list>
  </div>

  <div
    class="wechselwirkungen spacer"
    *ngIf="wechselwirkungen$ | async; let wechselwirkungen"
  >
    <h2>Erkannte Wechselwirkungen</h2>
    <p>Die mit * markierten Medikationen sind prodrugs.</p>

    <mat-table
      [dataSource]="wechselwirkungen"
      matSort
      (matSortChange)="sorting.next($event)"
    >
      <ng-container matColumnDef="enzym">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Enzym
        </mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.enzym }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="substrat">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Wirkstoff
        </mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.substrat }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="reason">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Grund
        </mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.reason }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="wert">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Wirkung
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div>
            {{ row.wert | Interaktionswert }}
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="wechselwirkungenColumns"
      ></mat-header-row>
      <mat-row *matRowDef="let row; columns: wechselwirkungenColumns"></mat-row>
    </mat-table>
  </div>
</main>
